---
interface Props {
    name  : string;
    url   : string;
    isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<a
    href={`pokemons/${name}`}
    class:list={[
        "rounded flex flex-col justify-center items-center p-2 gap-4 mt-5",
        { border: !isBig }
    ]}
>
    <img
        src={imageSrc}
        alt={name}
        class:list={[{ "w-28 h-28": isBig, "w-16 h-16": !isBig }]}
    >
    <span 
        class:list={["capitalize", { "text-4xl": isBig }]}
    >{name}</span>
</a>